# To use this code, create a .env file in LSTM_training/ root with your API key:
WANDB_API_KEY=your_wandb_api_key_here

# these point to our shared WandB project
WANDB_ENTITY=f1tenth_mclaren
WANDB_PROJECT=f1tenth-lstm